[Unit]
Description=Switch off all onair lights

[Service]
Type=oneshot
ExecStart=mqtt pub --topic '/oncall/lounge' --message 'clear' --mqttVersion 3
ExecStart=mqtt pub --topic '/oncall/robert' --message 'clear' --mqttVersion 3

[Install]
WantedBy=multi-user.target
